body{
  background-color:black;
  color:white;
}


li{
  padding:10px 10px;
}

#logo-main{
  height:15%;
  width:15%;
  transition:0.1s;
}

.dropdown-toggle::after {
    display:none;
}

#mainhead{
  font-weight:bold;
  font-stretch:expanded;
  font-size: 48px;
  padding-top:100px;
}

p{
  line-height:2em;
  font-weight:bold;
}

#whoa{
  background-color:#FF6347;
  border:none;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  border-radius:25px;
  font-weight: bold;
  opacity:0.9;
  transition: 0.25s;
}

#whoa:hover{
  background-color:#FF6340;
  transition:0.25s;
  padding-left:23px;
  padding-right:23px;
  opacity:1;
}

#whoa:inactive{
  background-color: tomato;
  padding-left:20px;
  padding-right:20px;
  transition:0.25s;
}

#navvv{
  position: fixed;
  top:0;
  transition:top 0.2s;
}

#nop{
  height:200px;
  width:200px;
  margin: 100px 100px;
}

#nop2{
  height:100px;
  width:100px;
  margin:100px 100px;
}
